{% extends 'staff_panel/_blank.html' %}
{% load static %}

{% block content %}
    <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Faq</h3>
                    <div class="nk-block-des text-soft">
                        <p>Список всех ответов</p>
                    </div>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            {% csrf_token %}
                            <ul class="nk-block-tools g-3 ">
                                <li class="nk-block-tools-opt btns-d"><button class="btn btn-primary btn-save"><em class="icon ni ni-save"></em><span>Создать</span></button></li>
                                <li class="nk-block-tools-opt"><a href="{% url 'staff_faqs' %}" class="btn btn-light"><em class="icon ni ni-back-alt"></em><span>Назад</span></a></li>
                            </ul>
                        </div>
                    </div><!-- .toggle-wrap -->
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon">FAQ | НАЗВАНИЕ</div>
                </div>
                <input type="text" class="form-control" placeholder="Введите название" aria-label="" aria-describedby="btnGroupAddon" value="" id="faqtitle">
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="summernote-basic"></div>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script>
        'use strict';
        $(document).ready(function () {
            var elText;
            var _basic = '.summernote-basic';

            if ($(_basic).exists()) {
                $(_basic).each(function () {
                    elText = $(this);
                    $(this).summernote({
                        placeholder: 'Hello stand alone ui',
                        tabsize: 2,
                        height: 500,
                        toolbar: [['style', ['style']], ['font', ['bold', 'underline', 'strikethrough', 'clear']], ['font', ['superscript', 'subscript']], ['color', ['color']], ['fontsize', ['fontsize', 'height']], ['para', ['ul', 'ol', 'paragraph']], ['table', ['table']], ['insert', ['link', 'video']], ['view', ['fullscreen', 'codeview', 'help']]]
                    });
                });
            }

            $('.btns-d').on('click', '.btn-save',function()
            {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                var text = elText.summernote('code');
                var title = document.getElementById('faqtitle').value
                var ready = true;
                if(ready){
                    $.ajax
                    ({
                        data:
                            {
                                csrfmiddlewaretoken: csrftoken,
                                title: title,
                                text: text,
                                action: 'create',

                            }, // get the form data
                        type: "POST", // GET or POST
                        url: "{% url 'staff_faq_create' %}",
                        // on success
                        success: function (response)
                        {
                            window.location.replace('{% url 'staff_faqs' %}');
                        },
                        // on error
                        error: function (response)
                        {
                            Swal.fire("Ошибка", response.errors, "error");
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}