{% extends 'client_panel/_blank.html' %}
{% load static %}
{% block content %}
    <div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Счета</h3>
            <div class="nk-block-des text-soft">
                <p>Здесь представленны ваши счета и история транзакций.</p>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
    </div>
    <div class="nk-block">
        <div class="row g-gs">
            <div class="col-sm-6 col-lg-4 col-xl-6 col-xxl-4">
                <div class="card card-bordered is-dark">
                    <div class="nk-wgw">
                        <div class="nk-wgw-inner">
                            <div class="nk-wgw-name">
                                <div class="nk-wgw-icon">
                                    <em class="icon ni ni-sign-waves"></em>
                                </div>
                                <h5 class="nk-wgw-title title">EMG Счет #{{ etg_wallet.account_code|upper }}</h5>
                            </div>
                            <div class="nk-wgw-balance">
                                <div class="amount">{{ etg_wallet.balance.normalize }}<span class="currency currency-nio"> EMG</span></div>
                                <div class="amount-sm">{{ etg_balance_in_usd }}<span class="currency currency-usd"> USD</span></div>
                            </div>
                        </div>
                        <div class="nk-wgw-actions">
                            <ul>
                                <li><a href="{% url 'client_buy' %}"><em class="icon ni ni-arrow-up-right"></em> <span>Купить</span></a></li>
                                <li><a href="#"><em class="icon ni ni-arrow-to-right"></em><span>Вывести</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .card -->
            </div><!-- .col -->
            <div class="col-sm-6 col-lg-4 col-xl-6 col-xxl-4">
                <div class="card card-bordered">
                    <div class="nk-wgw">
                        <div class="nk-wgw-inner">
                            <div class="nk-wgw-name">
                                <div class="nk-wgw-icon">
                                    <em class="icon ni ni-sign-waves-alt"></em>
                                </div>
                                <h5 class="nk-wgw-title title">EMG+ Счет #{{ etggold_wallet.account_code|upper }}</h5>
                            </div>
                            <div class="nk-wgw-balance">
                                <div class="amount">{{ etggold_wallet.balance.normalize }}<span class="currency currency-etg"> EMG</span></div>
                                <div class="amount-sm">{{ etggold_balance_in_usd }}<span class="currency currency-usd"> USD</span></div>
                            </div>
                        </div>
                        <div class="nk-wgw-actions">
                            <ul>
                                <li><a href="#"><em class="icon ni ni-arrow-up-right"></em> <span>Как получить</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .card -->
            </div><!-- .col -->
            <div class="col-sm-6 col-lg-4 col-xl-6 col-xxl-4">
                <div class="card card-bordered">
                    <div class="nk-wgw">
                        <div class="nk-wgw-inner">
                            <div class="nk-wgw-name">
                                <div class="nk-wgw-icon">
                                    <em class="icon ni ni-sign-usd"></em>
                                </div>
                                <h5 class="nk-wgw-title title">USD Счет #{{ usd_wallet.account_code|upper }}</h5>
                            </div>
                            <div class="nk-wgw-balance">
                                <div class="amount">{{ usd_wallet.balance }}<span class="currency currency-usd"> USD</span></div>
                                <div class="amount-sm">{{ usd_wallet.balance }}<span class="currency currency-usd"> USD</span></div>
                            </div>
                        </div>
                        <div class="nk-wgw-actions">
                            <ul>
                                <li><a href="#"><em class="icon ni ni-arrow-up-right"></em> <span>Пополнить</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .card -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><div class="nk-block">
    <div class="row g-gs">
        <div class="col-xl-12 col-xxl-12">
            <div class="card card-bordered card-full">
                <div class="card-inner">
                    <div class="card-title-group">
                        <div class="card-title">
                            <h6 class="title"><span class="mr-2">История Транзакций</span></h6>
                        </div>
                    </div>
                </div><!-- .card-inner -->
                <div class="card-inner p-0 border-top">
                    <div class="nk-tb-list nk-tb-orders">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-orders-type"><span>Тип</span></div>
                            <div class="nk-tb-col"><span>Действие</span></div>
                            <div class="nk-tb-col tb-col-sm"><span>Дата</span></div>
                            <div class="nk-tb-col tb-col-xxl"><span>Время</span></div>
                            <div class="nk-tb-col tb-col-sm text-right"><span>Баланс</span></div>
                            <div class="nk-tb-col text-right"><span>Сумма пополнения</span></div>
                        </div><!-- .nk-tb-item -->
                        {% for h in history %}
                        <div class="nk-tb-item">
                            <div class="nk-tb-col nk-tb-orders-type">
                                <ul class="icon-overlap">
                                    {% if h.type == 1 %}
                                    <li><em class="bg-{% if h.status == 1 %}success{% endif %}{% if h.status == 2 %}danger{% endif %}{% if h.status == 3 %}danger{% endif %}-dim icon-circle icon ni ni-arrow-down-left"></em></li>
                                    {% endif %}
                                    {% if h.type == 2 %}
                                        <li><em class="bg-{% if h.status == 1 %}success{% endif %}{% if h.status == 2 %}danger{% endif %}{% if h.status == 3 %}danger{% endif %}-dim icon-circle icon ni ni-arrow-up-right"></em></li>
                                    {% endif %}
                                    {% if h.type == 3 %}
                                        <li><em class="bg-{% if h.status == 1 %}success{% endif %}{% if h.status == 2 %}danger{% endif %}{% if h.status == 3 %}danger{% endif %}-dim icon-circle icon ni ni-invest"></em></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="nk-tb-col">
                                {% if h.type == 1 %}
                                    <span class="tb-lead">Пополнение счета</span>
                                {% endif %}
                                {% if h.type == 2 %}
                                    <span class="tb-lead">Вывод со счета</span>
                                {% endif %}
                                {% if h.type == 3 %}
                                    <span class="tb-lead">Покупка EMG</span>
                                {% endif %}
                            </div>
                            <div class="nk-tb-col tb-col-sm">
                                <span class="tb-sub">{{ h.date|date:"d.m.Y" }}</span>
                            </div>
                            <div class="nk-tb-col tb-col-xxl">
                                <span class="tb-sub">{{ h.date|date:"H:i" }}</span>
                            </div>
                            <div class="nk-tb-col tb-col-sm text-right">
                                {% if h.to_type == 1 %}
                                <span class="tb-sub tb-amount">{{ h.to_new_balance.normalize }}<span> EMG ({{ h.to_new_balance_in_usd.normalize }} USD)</span></span>
                                {% endif %}
                            </div>
                            <div class="nk-tb-col text-right">
                                {% if h.to_type == 1 %}
                                <span class="tb-sub tb-amount ">+ {{ h.to_amount.normalize }} <span>EMG ({{ h.to_amount_in_usd.normalize }} USD)</span></span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- .nk-tb-item -->
                        {% endfor %}
                    </div>
                </div><!-- .card-inner -->
            </div><!-- .card -->
        </div><!-- .col -->
    </div><!-- .row -->
</div>
{% endblock %}
{% block scripts %}
{% endblock %}